.tkb_body {
    box-sizing: border-box;
    padding: 0 5px;
    height: calc(100% - 50px);
    display: flex;
    gap: 5px;

    .tkb_body_left_side {
        width: 270px;
        border-right: 3px solid var(--background-color-1);

        .tkb_top {
            box-sizing: border-box;
            padding: 10px 0;
            margin: 0 10px;
            height: 55px;
            width: calc(100% - 20px);
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--text-color);
            border-bottom: 2px solid var(--hover-color);

            .title {
                font-weight: bold;
            }

            .button-add {
                background: transparent;
                padding: 0;
                border: 0;
                height: 30px;
                width: 30px;
                cursor: pointer;
                background-color: var(--background-color-2);
                border-radius: 10px;
                box-icon {
                    height: 30px;
                    width: 30px;
                    fill: var(--text-color);
                }

                &:active {
                    background-color: var(--hover-color);
                }
            }

        }

        .tkb_list_view {
            height: calc(100% - 55px);
            overflow-y: scroll ;
            scrollbar-width: thin;
            scrollbar-color: var(--hover-color) transparent ;

        }
    }

    .tkb_view {
        padding-left: 10px;
        width: calc(100% - 270px);
    }
}

#arrow,
#arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

#arrow {
    visibility: hidden;
}

#arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top']>#arrow {
    bottom: -4px;
}

#tooltip[data-popper-placement^='bottom']>#arrow {
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
}

#tooltip[data-popper-placement^='left']>#arrow {
    right: -4px;
}

#tooltip[data-popper-placement^='right']>#arrow {
    left: -4px;
}