.tools_menu {
    display: flex;

    > .tool + .tool {
        margin-left: 20px;
    }
} 


.tool {
    display: flex;
    color: var(--text-color);
    cursor: pointer;
    position: relative;
    align-items: center;
    padding: 3px 5px;
    border-radius: 5px;
    box-sizing: content-box;
    height: 25px;

    .icon {
        height: 25px;
        width: 25px;

        &.right {
            height: 15px;
            width: 15px;

            box-icon {
                height: 100%;
                width: 100%;
            }
        }
    }

    p {
        width: 100%;
        padding: 0 10px;
    }
    
    &:hover {
        
        background: var(--hover-color);
    }
}

.tool_warp {
    width: max-content;
    padding: 5px;
    box-shadow: var(--main-box-shadow);
    background-color: var(--background-color-1);
    border-radius: 3px;
}

.popup-wall {
    position: absolute;
    z-index: 1;


    &.bottom {
        top: 100%;
        left: 0;
        transform: translateY(10px);
    }

    &.left {
        left: 100%;
        top: 0;
    }
}