.ct-input {
    padding: 10px 0;
    position: relative;
    display: block;
    animation: all 0.2s ease;
    .title {
        top: 50%;
        left: 36px;
        transform: translateY(-50%);
        color: var(--text-color-2);
        // transform: translateY(-100%);
        position: absolute;
        transition: all 0.2s ease;
        text-wrap: nowrap;
    }

    .input-icon-wrapper {
        box-sizing: border-box;
        border-radius: var(--border-radius-g);
        border: 1px solid var(--content-color);
        padding: 5px 10px;
        align-items: center;
        display: flex;
        width: 100%;
    }

    .input-icon-wrapper:has(input:valid) ~ .title,
    .input-icon-wrapper:has(input:focus) ~ .title {
        top: -5px;
        left: 0;
        position: absolute;
        color: var(--text-color);
    }

    .input-icon-wrapper:has(input:focus) {
        border-color: var(--primary-color-1);
        // transform: translateX();
    }

    .input-icon-wrapper:has(input:focus) svg {
        color: var(--primary-color-1);
    }

    input {
        flex: 1;
        font-size: 16px;
        margin-left: 5px;
        background: transparent !important;
        border: transparent !important;
        outline: none;
        padding: var(--margin-g);
    }
}
