.tool-item {
    position: relative;

    .title {
        display: block;
        padding: 3px 10px;
        border-radius: var(--border-radius-g);
        cursor: pointer;
        &:hover {
            background-color: var(--content-color);
        }
    }

    .icon {
        display: inline-block;
    }

    .drop-down-item {
        // border: 1px solid rgb(from var(--text-color-2) r g b / 50);
        border-radius: var(--border-radius-g);
        position: absolute;
        background-color: var(--header-color);
        box-shadow: var(--box-shadow-g);
        width: max-content;
        padding: 2px 5px;
        z-index: 10;
    }

    .drop-down-item:has(.tool-item > .title svg) {
        .icon {
            height: 20px;
            width: 20px;
            margin-right: 10px;
        }
    }

    .group-item {
        padding: 2px 0;
    }

    .group-item + .group-item {
        border-top: 2px solid var(--text-color-2);
    }

    .drop-down-item.bottom {
        top: 100%;
        left: 0px;
    }

    .drop-down-item.Left {
        left: 100%;
        top: 0;
    }
}

.tools {
    padding-left: 10px;
    display: flex;
    gap: 5px;
}
