.rename-header {
    display: flex;
    align-items: center;

    p {
        padding: 3px 5px;
        cursor: pointer;
        text-wrap: nowrap;
        width: 15vw;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    svg {
        margin-left: 10px;
    }
}
