.side-bar-wrapper {
    background-color: var(--content-color-1);
    margin: var(--margin-g);
    margin-right: 0px;
    height: calc(100% - var(--margin-g) * 2);
    box-sizing: border-box;
    border-radius: var(--border-radius-g);
    .header {
        height: var(--header-height);
        display: flex;
        align-items: center;
        padding: 0 5px;
        border-bottom: 1px solid var(--content-color);

        svg {
            color: var(--primary-color-1);
            cursor: pointer;
        }

        svg + svg {
            margin-left: 10px;
        }

        svg.mini {
            margin-left: auto;
        }
    }
    .content {
        height: calc(100% - var(--header-height));
        overflow-y: scroll;
        scrollbar-width: thin;
    }

    .content.footer {
        height: calc(100% - var(--header-height) - 40px);
        overflow-y: scroll;
    }

    .footer-content {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
            padding: 2px 7px;
            margin-right: 10px;
        }
    }

    .content::-webkit-scrollbar {
        width: 7px;
    }
    .content::-webkit-scrollbar-thumb {
        border-radius: 10rem;
        background-color: gray;
    }

    .content::-webkit-scrollbar-track-piece:start {
        background: transparent;
    }

    .content::-webkit-scrollbar-track-piece:end {
        background: transparent;
    }
}
