.wrapper {
    --header-height: 30px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    height: 100%;
    width: 100%;
    display: flex;
    // background-color: var(--header-color);
}

.side-bar {
    // border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
    height: 100%;
    width: 300px;
    box-sizing: border-box;
}

.calendar-wrapper {
    flex: 1;
}

.side-bar {
    .side-bar-wrapper {
        background-color: var(--content-color-1);
        margin: var(--margin-g);
        height: calc(100% - var(--margin-g) * 2);
        box-sizing: border-box;
        border-radius: var(--border-radius-g);
        .header {
            height: var(--header-height);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 5px;
            border-bottom: 1px solid var(--content-color);

            svg {
                color: var(--primary-color-1);
                cursor: pointer;
            }
        }
        .content {
            height: calc(100% - var(--header-height));
            overflow-y: scroll;
        }

        .content::-webkit-scrollbar {
            width: 7px;
        }
        .content::-webkit-scrollbar-thumb {
            border-radius: 10rem;
            background-color: gray;
        }

        .content::-webkit-scrollbar-track-piece:start {
            background: transparent;
        }

        .content::-webkit-scrollbar-track-piece:end {
            background: transparent;
        }
    }
}

.hocphan {
    .hocphan-title {
        margin: 5px;
        padding: 3px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid var(--content-color);

        svg {
            padding-right: 5px;
        }
    }

    .hocphan-dropdown.show {
        max-height: 1600px;
    }
    .hocphan-dropdown {
        transition: all 0.2s ease;
        overflow: hidden;
        max-height: 0px;
        .nhom {
            padding: 5px;
            margin-left: 25px;
            border-radius: var(--border-radius-g);
            margin-top: var(--margin-g);
            background-color: rgba($color: #000000, $alpha: 0.05);
        }

        .nhom.check {
            background-color: #838df4;
        }
    }

    .close-icon {
        margin-left: auto;
        cursor: pointer;
        svg {
            color: var(--error-color);
        }
    }

    .hocphan-name {
        // max-width: calc(100% -);
        flex: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.add-popup {
    height: 60vh;

    .header {
        box-sizing: border-box;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        gap: 10px;
        input {
            background: transparent;
            outline: transparent;
            border-radius: var(--border-radius-g);
            border: 1px solid var(--content-color-1);
            padding: 7px 7px 7px 10px;
            flex: 1;
        }
        .filter {
            padding: 6px;
            width: 100px;
            background-color: var(--primary-color-1);
            border: transparent;
            outline: none;
            border-radius: var(--border-radius-g);

            &:active {
                transform: scale(0.99);
            }
        }
    }
    .body {
        height: calc(100% - 53px);
        .relust {
            height: 100%;
            overflow-y: scroll;
            scrollbar-width: thin;
            scrollbar-color: gray transparent;
            .monhoc {
                display: block;
                color: var(--text-color);
                cursor: pointer;
                padding: 0 20px;
                margin: 3px 0;
                border-left: 3px solid transparent;

                input {
                    display: none;
                }

                .ten {
                    font-weight: bold;
                }

                .more-info {
                    font-size: small;
                    color: var(--text-color-2);
                }
            }

            .monhoc:has(input:checked) {
                border-left: 3px solid var(--primary-color-1);
            }
        }
    }
}

.rename-header {
    display: flex;
    align-items: center;

    p {
        padding: 3px 5px;
        cursor: pointer;
    }

    svg {
        margin-left: 10px;
    }
}

.tools {
    padding-left: 10px;
    display: flex;
    gap: 5px;
}

.tool-item {
    position: relative;

    .title {
        display: block;
        padding: 3px 10px;
        border-radius: var(--border-radius-g);
        cursor: pointer;
        &:hover {
            background-color: var(--content-color);
        }
    }

    .drop-down-item {
        border-radius: var(--border-radius-g);
        position: absolute;
        background-color: var(--header-color);
        box-shadow: var(--box-shadow-g);
        width: max-content;
        padding: 5px;
    }

    .drop-down-item.bottom {
        top: 100%;
        left: 0px;
    }

    .drop-down-item.Left {
        left: 100%;
        top: 0;
    }
}
