.reset-password {
    display: flex;
}

.header {
    display: flex;
    backdrop-filter: blur(10px);
    background: rgb(from var(--content-color) r b g / 0.5);
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
}

.auth button {
    & + button {
        margin-left: 10px;
    }
    padding: 5px 10px;
    color: white;
    border: none;
    border: 1px solid var(--primary-color-1);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

    &:last-child {
        background-color: transparent;
    }
}

.body {
    height: 100%;
    display: flex;
    margin-top: 100px;
    justify-self: center;
}

.content {
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background: rgb(from var(--content-color) r b g / 0.5);
    height: fit-content;

    h2,
    p {
        text-align: center;
    }

    form {
        margin-top: 15px;
    }
}

.input-group {
    box-sizing: border-box;
    margin-bottom: 15px;

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .input > div {
        border: 1px var(--text-color) solid;
    }

    button {
        width: 100%;
        padding: 10px;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
}

.back {
    margin-top: 20px;
    width: 100%;
    padding: 5px 10px;
}
