:root {
    --header-height: 45px;

    --header-color: #ffffff;
    --content-color: #e3e5e8;
    --content-color-1: #f2f3f5;
    --background-btn-hover: #0000000c;

    --shadow-1: rgba(0, 0, 0, 0.1);
    --shadow-2: rgba(0, 0, 0, 0.2);

    --text-color: black;
    --text-color-2: #777777;
    --text-color-selection: #e06c75;

    --hover-color: #555;
    --drop-down-box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
    
    --margin-g : 5px;
    --border-radius-g: 5px;

    --primary-color-1: #20b6ae;

    --error-color: #f7675f;
    --success-color: #5ff764;
    --warning-color: #f7c45f;
    --info-color: #5f69f7;
}

p, a, span, svg, label, input {
    color: var(--text-color);
}


html[theme=dark] {
    --header-color: #1e1f22;
    --content-color: #2b2d31;
    --content-color-1: #313338;
    --background-btn-hover: #0000000c;

    --text-color: #f3f3f3;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
}


#root {
    height: 100%;
    width: 100%;
}

.popup-content {
    border-color: transparent;
    outline: none;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    border-radius: var(--border-radius-g);
    width: max-content !important;
    background-color: var(--header-color) !important;
}