
.topbar{
    height: 55px;
    width: 100%;
    background: var(--background-color-1);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .leftside {
        margin-left: 10px;
        display: flex;
        align-items: center;
        .tools {
            margin-left: 10px;
        }

        .logo {
            height: 35px;
            width: 35px;
            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    .rightside {
        
        margin-right: 10px;
        > div {
            display: inline-block;
            position: relative;
        }

        & > div + div {
            margin-left: 15px;
        }

        box-icon {
            fill: var(--text-color);
        }
        display: flex;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: calc((35px - 24px) /2);
            height: 35px;
            width: 35px;
            border-radius: 50%;
            cursor: pointer;
            position: relative;

            &:hover {
                background: var(--hover-color);
            }
        }



        .account:has(.btt-sign-in) .icon {
            border-radius: 0;
            width: fit-content;
            .btt-sign-in {
                background-color: var(--primary-color-2);
                padding: 5px 15px;
                border-radius: 5px;
                color: var(--background-color-1);
            }

            &:hover {
                background-color: transparent;
                animation-name: poping;
                animation-duration: 0.3s;
                animation-direction: alternate-reverse;
            }
        }

        .drop-down-wall {
            position: absolute;
            z-index: 1;
            top: 100%;
            right: 0;
            transform: translate(10px, 10px);
        }
    }

}


.themes {
    min-width: 150px; 
    background-color: var(--background-color-1);
    padding: 5px;
    border-radius: 10px;

    box-shadow: var(--main-box-shadow);
    color: var(--text-color);

    .line {
        height: 40px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 5px;
        border-radius: 5px;

        &:hover {
            background-color: var(--hover-color);
        }

        input {
            display: none;
        }

        span {
            width: 50%;
            margin-left: 10px;
        }
    }
}


@keyframes poping {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}