.user_info {
    min-width: 300px; 
    background-color: var(--background-color-1);
    padding: 10px;
    border-radius: 10px;

    box-shadow: var(--main-box-shadow);
    color: var(--text-color);
}