.ds-tkbs-body {

    --card-count: 5;

    height: calc(100% - 55px);
    overflow-y: auto;
    .tkbs-save-wall,
    .tkbs-start-wall {
        height: 300px;
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        
        .header {
            padding: 20px;
            color: var(--text-color);
            display: flex;
            justify-content: space-between;


            
        }
        
        .start-list {
            height: 250px;
        }
    }
    
    box-icon {
        fill: var(--text-color);
    }

    .center {
        width: calc(var(--card-count) * 220px);
    }
    
    .card {
        position: relative;
        text-decoration: none;
        width: fit-content;
        color: var(--text-color);
        
        a {
            text-decoration: none;
            color: var(--text-color);
        }

        .thumbnail {
            text-decoration: none;

            border-radius: 3px;
            border: 1px solid var(--color-hover);
            height: 167px;
            width: 200px;

            &:has(box-icon) {
                display: flex;
                align-items: center;
                justify-content: center;

                box-icon {
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .des {
            padding: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .name {
                text-decoration: none;
                color: var(--text-color);
            }

            .auther {
                text-decoration: none;
                color: var(--text-color-2);
                font-size: 12px;
            }

            .mose {
                height: 24px;
                width: 24px;
                padding: 3px;
                border-radius: 50%;
                box-sizing: content-box;

                &:hover {
                    background-color: var(--hover-color);
                }

                box-icon {
                    fill: var(--text-color);
                }

               
            }

            .popup {
                position: absolute;
                z-index: 1;
                
                .context-menu {
                    padding: 5px;
                    border-radius: 5px;
                    background-color: var(--background-color-2);
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;;
                    width: 150px;
                    height: fit-content;
                    
                    .line {
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        height: 30px;
                        padding: 0 5px;

                        box-icon {
                            margin-right: 10px;
                        }

                        &:hover {
                            background-color: var(--hover-color);
                        }
                    }
                }
            }


        }
    }
    
    .tkbs-save-wall {
        min-height: calc(100% - 300px);
        background: var(--background-color-1);
        height: fit-content;
        .header {
            position: sticky;
            top: 0;
            background-color: var(--background-color-1);
        }

        .save-list-wall {
            display: flex;
            .save-list {
                display: inline-flex;
                flex-wrap: wrap;
                
                .card {
                    padding: 10px;
                }
            }
        }
    }

    .add {
        background: linear-gradient(45deg, var(--primary-color-3) 0%, var(--primary-color-1) 51%, var(--primary-color-2) 100%);
        background-clip: text;
        height: 100%;
        width: 100%;

        &:hover {
            filter: brightness(0.9);
        }

        svg {
            box-sizing: border-box;
            padding: 10px;
            width: 100%;
            height: 100%;
        }
    }
}


@media (max-width: calc(5 * 220px + 100px)) {
    .ds-tkbs-body {
        --card-count: 4;
    }
}


@media (max-width: calc(4 * 220px + 100px)) {
    .ds-tkbs-body {
        --card-count: 3;
    }
}


@media (max-width: calc(3 * 220px + 100px)) {
    .ds-tkbs-body {
        --card-count: 2;
    }
}