.input + .input {
    margin-top: 10px;
}

.input-copy {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    background-color: transparent;
    border: transparent;
    outline: none;
    width: 100%;

    border: 1px solid var(--text-color-2);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text-color);

    &:focus {
        border-color: var(--primary-color-2);
    }

    p {
        width: 100%;
    }

    .button-copy {
        background-color: var(--primary-color-1);
        border: none;
        border-radius: 5px;
        height: 25px;
        width: 25px;

        &:active {
            transform: scale(0.91);
        }
    }
}

.input {
    input,
    select {
        font-size: 15px;
        margin-top: 5px;
    }
}

.upload-file {
    input[type='file'] {
        color: var(--text-color-2);
    }

    input[type='file']::file-selector-button {
        border: none;
        background-color: transparent;
        color: var(--text-color);
    }
}

.properties-content {
    display: flex;
    min-height: 250px;
    min-width: 500px;
}

.side-bar {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.side-bar-line {
    padding: 3px 5px;
    border-radius: var(--border-radius-g) 0 0 var(--border-radius-g);

    input[type='radio'] {
        display: none;
    }

    &:has(input:checked) {
        background-color: var(--content-color-1);
    }
}

.side-bar-line.end {
    margin-top: auto;
}

.body {
    background: var(--content-color-1);
    border-radius: var(--border-radius-g);
    flex: 1;
}

.setting-line {
    padding: 5px 10px;
    display: flex;

    span {
        flex: 1;
    }

    span:nth-child(1) {
        font-weight: bold;
    }

    span:nth-child(2) {
        color: var(--text-color-2);
    }
}
