.wrapper {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 600px;
    align-items: center;
    column-gap: 50px;
}

.container:nth-child(1) .item {
    h1,
    p,
    span,
    a {
        color: #fff;
    }
}

.main {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M1342.170906786048 496.0905457094565L1474.1524927145686 516.9943753298899 1495.0563223350018 385.0127894013693 1363.0747364064814 364.10895978093583z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M8.633100480432809 189.47806746018964L-63.39481840701725 264.0651609073925 11.1922750401856 336.09307979484254 83.22019392763565 261.5059863476397z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1068.3740192309988 615.2980975737091L1220.1851780393174 599.3421018223646 1204.229182287973 447.5309430140461 1052.4180234796543 463.4869387653906z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M355.41677908720146 489.58547858947946L241.1532068890002 487.5910005178298 239.1587288173505 601.854572716031 353.4223010155518 603.8490507876808z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M826.3314498809224 265.7101192696189L934.6622373748148 267.6010401990497 936.5531583042456 159.27025270515725 828.2223708103531 157.37933177572643z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M988.4793469247996 576.5064169172209L1010.9944796952597 492.4787974787048 926.9668602567436 469.9636647082448 904.4517274862835 553.9912841467609z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M317.10773665595957 151.82056171919717L400.84073403883787 132.48927607589053 381.5094483955312 48.756278693012234 297.7764510126529 68.08756433631888z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M189.57567678582487 363.9663578612367L79.32365003168145 348.471445993579 63.82873816402375 458.72347274772244 174.08076491816718 474.2183846153801z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M491.34182039365066 637.5387175083531L625.4458546269949 601.6056498337729 589.5127869524147 467.50161560042864 455.40875271907043 503.43468327500887z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M42.37937810733207 361.99803523463714L3.2007896991342832 475.7809178617091 116.98367232620622 514.9595062699068 156.16226073440401 401.17662364283495z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1264.6099290454242 265.64134122099097L1215.3016918240862 159.8994852617044 1109.5598358647994 209.20772248304252 1158.8680730861377 314.9495784423291z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1459.3878105412412 585.3216190787784L1500.491540868378 488.4872987434116 1403.657220533011 447.3835684162748 1362.5534902058744 544.2178887516417z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M881.1661450183096 38.40415102140575L838.918304173161-61.12552478458289 739.3886283671724-18.87768393943427 781.636469212321 80.65199186655437z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1328.482865074867 286.8014702417634L1196.7349960715683 317.21786244320265 1227.1513882730076 448.9657314465014 1358.8992572763063 418.54933924506224z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M775.5897757218049 96.89716306579294L724.9563039224178-28.425077327694808 599.63406352893 22.208394471692316 650.2675353283172 147.53063486518005z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M682.6898823114446 163.35326368379822L817.3617300767643 106.18845585500631 760.1969222479723-28.483391910313287 625.5250744826527 28.68141591847862z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
}

.logo {
    display: flex;
    align-items: center;
    img {
        height: 35px;
    }

    span {
        font-weight: 600;
    }
}

a.button {
    display: block;
    color: var(--primary-color-1) !important;
    margin-top: 20px;
}

button.buttonHome {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 18px;
    font-family: inherit;
    cursor: pointer;
    color: #fff;
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
}

button.buttonHome:hover {
    animation: ani 8s linear infinite;
    border: none;
}

@keyframes ani {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

button.buttonHome:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
}

button.buttonHome:hover::before {
    filter: blur(20px);
}

button.buttonHome:active {
    background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}
