.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgb(16, 10, 92);
    background: -moz-linear-gradient(
        174deg,
        rgba(16, 10, 92, 1) 0%,
        rgba(170, 0, 182, 1) 61%,
        rgba(38, 119, 135, 1) 100%
    );
    background: -webkit-linear-gradient(
        174deg,
        rgba(16, 10, 92, 1) 0%,
        rgba(170, 0, 182, 1) 61%,
        rgba(38, 119, 135, 1) 100%
    );
    background: linear-gradient(174deg, rgba(16, 10, 92, 1) 0%, rgba(170, 0, 182, 1) 61%, rgba(38, 119, 135, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#100a5c",endColorstr="#267787",GradientType=1);
}

.content {
    min-width: 400px;
    background-color: var(--header-color);
    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    transform-origin: center center -220px;
    transition: all 0.2s;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
        font-size: small;
        text-align: center;
        color: var(--primary-color-1);
    }
}
.btn {
    height: 35px;
}

.logo {
    display: inline-block;
    width: 100px;
    text-align: center;
}

.header {
    font-size: 30px;
	padding: 5px 0;
	margin: 10px 0;
    position: relative;

    .selection {
        height: 100%;
        width: 100px;
        position: absolute;
        top: 0;
        border: 1px solid var(--text-color);
        border-radius: var(--margin-g);
        z-index: 1;
        transition: left 0.2s;
    }

    label:nth-child(1):has(input:checked) ~ .selection {
        left: 0px;
    }

    label:nth-child(2):has(input:checked) ~ .selection {
        left: calc(100px + 20px);
    }

    input {
        display: none;
    }

    label + label {
        margin-left: 20px;
    }
}

.line {
    
    box-sizing: border-box;
    width: calc(100% - 20px);
    height: 1px;
    background: var(--text-color-2);
}

.input {
    overflow: hidden;
    height: 350px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}


.or {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: center;
    color: var(--text-color);
    position: relative;

    &::before {
        content: '';
        position: absolute;
        display: block;
        height: 1px;
        background: var(--text-color-2);
        width: 40%;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    &::after {
        content: '';
        position: absolute;
        display: block;
        height: 1px;
        background: var(--text-color-2);
        width: 40%;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}


.with {
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	display: flex;
	flex-direction: column;

	gap: 20px;

}

.input.isin {   
    
    .in {
        transform: rotate3d(0, 1, 0, 0) translateY(-50%) translate3d(0, 0, 200px);
    }

    .up {
        transform: rotate3d(0, 1, 0, 90deg) translateY(-50%) translate3d(0, 0, 200px);
    }
}

.input {
    
    .in {
        transform: rotate3d(0, 1, 0, -90deg) translateY(-50%) translate3d(0, 0, 200px);
    }

    .up {
        transform: rotate3d(0, 1, 0, 0deg) translateY(-50%) translate3d(0, 0, 200px);
    }
}

.err {

    p {
        flex: 1;
    }

    svg {
        margin-right: 10px;
    }

    display: flex;
    align-items: center;
    border-radius: var(--border-radius-g);
    height: 35px;
    text-align: center;
    background: var(--error-color);
}