.button-wrapper {
    position: relative;
    color: var(--text-color);
}

.icon-wrapper {
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    color: inherit;

    &:active {
        background-color: var(--background-btn-hover);
        transform: scale(0.9);
    }

    svg {
        height: 100%;
        width: 100%;
        color: inherit;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }
}

.activity-drop-down {
    position: absolute;
    z-index: 5;
    top: 100%;
    right: 0;
    transform: translateY(5px);
    opacity: 0;
    transform: scale(0.5) translateY(-50%);
    transition: all 0.1s;
}

.activity-drop-down.show {
    opacity: 1;
    transform: scale(1) translateY(0);
}

.drop-down-wrapper {
    width: max-content;
    padding: 5px;
    border-radius: 2px;
    background-color: var(--header-color);
    box-shadow: var(--box-shadow-g);
}
