.content {
    height: calc(100% - var(--header-height));
    background-color: var(--content-color);
    overflow-y: visible;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: gray transparent;
}

.wrapper-page {
    height: 100%;
    width: 100%;
}

.entering {
    opacity: 0;
}

.entered {
    opacity: 1;
    transition: opacity 100ms, transform 100ms;
}

.exiting {
    opacity: 1;
}

.exited {
    opacity: 0;
    transition: opacity 100ms, transform 100ms;
}
