.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    margin: 0px;
    padding: 0px;
}

.context {
    position: absolute;
    z-index: 1;
    top: 50vh;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: 200px 300px;
    gap: 20px;
}

.context .code,
.context .msg {
    color: #fff;
}

.context .code {
    font-size: 50px;
}

.context .msg {
    font-size: 17px;
    text-transform: capitalize;
}

.context .icon {
    grid-row: 1;
    height: 100%;
    width: 100%;
}

.context .button {
    margin-top: 10px;

    button + button {
        margin-left: 10px;
    }
}

.context .button button {
    padding: 5px 10px;
    border: none;
    border-radius: var(--border-radius-g);
    border: 1px solid var(--primary-color-1);
    background: var(--primary-color-1);
    font-weight: bold;

    &:active {
        transform: scale(0.95);
    }

    &.nbg {
        background: transparent;
        color: var(--primary-color-1);
    }
}

.context .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.context .icon svg {
    stroke: #fff;
    height: 100%;
    width: 100%;
}

.area {
    background: #1a1e23;
    width: 100%;
    height: 100vh;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
